<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

</head>

<body>
    <main>
        <div class="main-container">
            <% if(result.length>0) { %>
            <div class="card-container">
                <% for(let item in result) { %>
                <div class="card">
                    <div class="card-tt">
                        <img src="https://images.pexels.com/photos/9991820/pexels-photo-9991820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="" srcset="">
                        <h3>
                            <%= result[item].email %>
                        </h3>
                    </div>
                    <p>
                        <%= result[item].feedback %>
                    </p>
                    <div class="date-container">
                        <p class="date">
                            at
                            <% 
                            const date = new Date(result[item].createdAt)
                            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                            day = ("0" + date.getDate()).slice(-2);
                            %>
                            <%= [date.getFullYear(), mnth, day].join("-");%>
                        </p>
                    </div>
                    <!-- <p>
                        <% const rtf = new Intl.RelativeTimeFormat("en", { numeric: "auto" }); %>
                        <%= rtf.format(result[item].createdAt, "day"); %>
                    </p> -->
                </div>
                <% } %>

            </div>
            <% } else { %>
            <div>
                <h2> No Feedbakcs Found</h2>
            </div>
            <%}%>
        </div>
        </div>
    </main>
</body>

</html>
